<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h4>Settlement Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
    </div>
  </div>
  <div class="row">
    @for (item of itemList; track $index) {<div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>

        </div>
      </div>
    </div>}
    
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="itemObj.name" id="name" class="form-control" placeholder="Name">
          </div>
          <div class="col-6">
            <label for="description">Description</label>
            <input type="text" [(ngModel)]="itemObj.description" id="description" class="form-control" placeholder="Description">
          </div>
          <div class="col-4">
            <label for="price">Price</label>
            <input type="number" [(ngModel)]="itemObj.price" id="price" class="form-control" placeholder="Price">
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-success" (click)="saveItem()">Add</button>
      </div>

    </div>
  </div>
</div>